.root {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 152px 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  padding: 40px 24px;
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 1024px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }
}
@media (max-width: 890px) {
  .root {
    grid-template-rows: auto 1fr;
  }
}
